<div class="container">
    <div class="flex align-items-center">
        <h3>Experiencia</h3>
        <p-button *ngIf="modoEdicion" (click)="editExperiencia()" icon="pi pi-plus" styleClass="p-button-rounded" class="btn-size-sm"></p-button>
    </div>
    <ng-container *ngFor="let experiencia of experiencias">
        <app-item-experiencia #item [experiencia]="experiencia" [modoEdicion]="modoEdicion" (emitEdit)="editExperiencia($event)" (emitDelete)="deleteExperiencia($event)"></app-item-experiencia>
    </ng-container>  
</div>
<p-divider></p-divider>


<p-confirmDialog></p-confirmDialog>
