<app-navbar [linkedInURL]="linkedInURL"></app-navbar>
<ng-container *ngIf="usuario">
    <app-informacion [informacion]="usuario.informacion"></app-informacion>
    <app-experiencia [experiencias]="usuario.experiencias"></app-experiencia>
    <app-educacion [educacion]="usuario.educacion"></app-educacion>
    <app-skill [skills]="usuario.skills"></app-skill>
    <app-proyecto [proyectos]="usuario.proyectos"></app-proyecto>
</ng-container>
<app-footer></app-footer>
<router-outlet></router-outlet>
